.light {
  --background-header: #f1f3f5;
  --background-header-avatar: #dce0e3;
  --header-color: #4e5969;
  --header-pop-color: #4e5969;
  --background-footer: #f1f3f5;
  --background-video: #f1f3f5;
  --background-video-usericon: #e5e6eb;
  --color-video-usericon: #4e5969;
  --background-video-username: rgba(255, 255, 255, 0.8);
  --background-userInfo: rgba(255, 255, 255, 0.8);
  --color-userInfo: #1d2129;
  --color-hostLabel: #ffffff;
  --background-hostLabel: #1d2129;
  --background-container: #ebebeb;
  --background-step: #ffffff;
  --background-join-menu: rgba(255, 255, 255, 0.8);
  --border-join-menu: #fff;
  --border-join-menu-radio-inner: #c9cdd4;
  --background-join-menu-input: #fff;
  --background-join-menu-icon: #fff;
  --background-join-menu-input-tip: #fff;
  --color-bottom-menu-text: #4e5969;
  --background-bottom-menu-icon: #1d2129;
  --background-bottom-device-pop: #f1f3f5;
  --join-menu-input-tip-color: #1d2129;
  --background-userlist-drawer: #f1f3f5;
  --background-userlist-drawer-mutebtn: #fff;
  --color-userlist-drawer-mutebtn: #4e5969;
  --color-userlist-drawer-title: #1d2129;
  --background-userlist-drawer-mediaicon: #2b2f36;
  --background-toast: #f1f3f5;
  --border-toast-cancel-btn: #c9cdd4;
  --background-setting-modal: #fff;
  --background-setting-modal-input: #f2f3f8;
  --background-setting-modal-cancel-btn: #f2f3f8;
  --background-stop-btn-active: #e5e6eb;
  --background-stop-popover: #fff;
  --background-stop-popover-cancel-btn: #86909c;
  --background-device-detect-modal: #ffffff;
  --background-device-detect-modal-input: #f2f3f8;
  --color-device-detect-modal-input: #1d2129;
  --background-device-detect-modal-playbtn: #f2f3f8;
  --background-device-detect-volume-interval: #f2f3f5;
  --background-share-player-wrapper: #f1f3f5;
  --background-share-player-userAvatar: #a2acbe;
  --color-header-room-info: #4e5969;
  --color-header-room-sperature: #c9cdd4;
  --background-board-pages: #f1f3f5;
  --background-board-toolbar: #f1f3f5;
  --background-toolbar-icon-active: rgba(51, 112, 255, 0.1);
  --background-toolbar-icon: #4e5969;
  --border-board-page: #c9cdd4;
  --color-board-addpage: #898989;
  --background-board-addpage: #f1f3f5;
  --background-board-preview: #fff;
}
