/* stylelint-disable custom-property-pattern */
.dark {
  --background-nomal:  #1f2127;
  --background-deep: #000;
  --text-cololor-nomal: #fff;
  --background-member: #1F2127;
  --color-header-seprator: #C9CDD4;
  --color-header-info: #c9cdd4;
  --color-member: #E3E3E3;
  --color-member-mute: #fff;
  --background-member-mute: #272E3B;
  --background-body: #1f2127;
  --background-header: #1f2127;
  --background-header-avatar: #4e5969;
  --header-color: #fff;
  --background-sharev-view:#1F2127;
  --background-screen-list:#1D2129;
  --color-screen-list: white;
  --color-screen-list-close:#D8D8D8;
  --color-screen-list-divider: #4E5969;
  --background-setting: #1D2129;
  --background-setting-input: #0c0e13;
  --color-setting: white;
  --color-setting-divider: #4E5969;
  --color-setting-close: #D8D8D8;
  --view-middle-background:#1f2127;
  --background-toolbar-hover: #d8d3d8;
  --header-pop-color: #c9cdd4;
  --background-footer: #1d2129;
  --background-video:  #18191d;
  --background-share-view-video:  #18191d;
  --background-video-usericon: #35373d;
  --color-video-usericon: #fff;
  --background-video-username: rgba(0, 0, 0, 40%);
  --background-userInfo: rgba(0, 0, 0, 40%);
  --color-userInfo: #fff;
  --color-hostLabel: #000;
  --background-hostLabel: linear-gradient(101.17deg, #b9b8da -1.16%, #b8dad8 98.84%);
  --background-container: #000;
  --background-step: rgba(255, 255, 255, 40%);
  --background-join-menu: rgba(255, 255, 255, 90%);
  --border-join-menu: #fff;
  --border-join-menu-radio-inner: #c9cdd4;
  --background-join-menu-input: #fff;
  --background-join-menu-icon: #fff;
  --background-join-menu-input-tip: #fff;
  --color-bottom-menu-text: #c9cdd4;
  --background-bottom-menu-icon: #fff;
  --background-bottom-device-pop: #1f2127;
  --join-menu-input-tip-color: #1d2129;
  --background-userlist-drawer: #1f2127;
  --background-userlist-drawer-mutebtn: #272e3b;
  --color-userlist-drawer-mutebtn: #fff;
  --color-userlist-drawer-title: #e3e3e3;
  --background-userlist-drawer-mediaicon: #949aa4;
  --background-toast: #f1f3f5;
  --border-toast-cancel-btn: #c9cdd4;
  --background-setting-modal: #fff;
  --background-setting-modal-input: #f2f3f8;
  --background-setting-modal-cancel-btn: #f2f3f8;
  --background-stop-btn-active: #e5e6eb;
  --background-stop-popover: #fff;
  --background-stop-popover-cancel-btn: #86909c;
  --background-device-detect-modal: #272e3b;
  --background-device-detect-modal-input: #1c222d;
  --background-device-setting-modal-border: #1c222d;
  --color-device-detect-modal-input: #fff;
  --color-device-detect-modal-color: #fff;
  --color-device-detect-modal-close-color: #939aa3;
  --background-device-detect-modal-playbtn: rgba(255, 255, 255, 10%);
  --background-device-detect-volume-interval: #4e5969;
  --background-share-player-wrapper: #1f2127;
  --background-share-player-userAvatar: #fff;
  --color-header-room-info: #c9cdd4;
  --color-header-room-sperature: #4e5969;
  --border-board-page: rgba(147, 154, 163, 20%);
  --color-board-addpage: #898989;
  --background-board-addpage: #2d2d2d;
  --background-board-preview: #000;
  --background-toolbar-icon-active: #000;
  --background-toolbar-icon: #949aa4;
  --background-board-pages: #1f2127;
  --background-board-toolbar: #1f2127;
  --background-footer-text: #1D2129;
  --background-footer: #1D2129;
  --color-footer-text: #fff;
  --backgroud-pageflip-btn:#35373d;
}
